name: CI
on: [push]
jobs:
  android-python3:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10']
        ndk-version: ['23.1.7779620']
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Setup Android NDK
        run: |
            export ANDROID_HOME="$HOME/Android/Sdk"
            export ANDROID_SDK_ROOT="$HOME/Android/Sdk"
            export PATH="$PATH:$ANDROID_HOME/cmdline-tools/latest/bin"
            mkdir -p $ANDROID_HOME
            wget -q https://dl.google.com/android/repository/commandlinetools-linux-8092744_latest.zip
            unzip commandlinetools-linux-8092744_latest.zip -d $ANDROID_HOME/cmdline-tools
            mv $ANDROID_HOME/cmdline-tools/cmdline-tools $ANDROID_HOME/cmdline-tools/latest
            yes | sdkmanager --licenses
            sdkmanager --install tools
            sdkmanager --install platform-tools
            sdkmanager --install "ndk;${{ matrix.ndk-version}}"
            ls $ANDROID_SDK_ROOT/ndk/${{ matrix.ndk-version}}
      - name: Install conda build
        run: conda install conda-build
      - name: Build recipe
        run: conda build --py=${{matrix.python-version}} android-python3
